html, body, #root, #root {
  height: 100%;
  color:rgb(245, 240, 245);
  background-color: rgb(31, 11, 11);
  background-color: rgb(56, 13, 13);
  
  font-family: Georgia, 'Times New Roman', Times, serif;
}
div.root{
  height: 100%; 
  /* Center and scale the image nicely */

}
.about-container{
  justify-content: center;
  display: flex;
}
.flex-container{
  float: left;
}
.flex-container, .flex-container2{
  display: flex;
  margin-top: 10px;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
}
.flex-container2 div{
  display: flex;
  justify-content: center;
}
.info-cont {
  text-align: center;
}
.info-cont > h3{
  font-size: 2.0em;
}
.info-cont > p{
  font-size: 1.25em;
}
#left-arrow{
  background-image: url('../images/left.jpg');
  float: left;
}
#right-arrow{
  background-image: url('../images/right.jpg');
  float: right;
}
.about-us-image{
  width: 50%;
  height: 50%;
}