html, body, #root, #root {
  height: 100%;
  color:rgb(157, 24, 24);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-container{
  justify-content: center;
  display: flex;
}
.flex-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  float: left;
}
.flex-container2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  float: right;
}

.info-cont {
  text-align: center;
}
.info-cont > h3{
  font-size: 2.0em;
}
.info-cont > p{
  font-size: 1.25em;
}
#left-arrow{
  background-image: url('../images/left.jpg');
  float: left;
}
#right-arrow{
  background-image: url('../images/right.jpg');
  float: right;
}
.about-us-image{
  float: right;
  width: 50%;
  height: 50%;
  margin: 0%;
}